body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    flex-direction: column;
}
form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #3bc1ab ;
    padding: 15px;
    border-radius: 20px;
    margin-top: 30px;
    width: 20pc;
}
button{
    border-radius: 5px;
    width:inherit;
}
input{
    width: 100%;
    height: 20px;
}
button{
    padding: 3px;
    margin:10px;
    background-color: #ffce8d;
}
.validator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.valid{
    color: green;
}
.invalid{
    color: red;
    list-style-image: url(./images/plus-lg.svg);

}